.bg {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 75vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
   
  }
  .bg h1 {
    font-size: 120px;
    color: #fff;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
  }
  